.section-padding{
  padding: 50px 0;
}

.heading{
  margin-bottom: 30px;
}
.heading h3{
  font-size: 22px;
  margin: 0;
  padding: 0;
}

/* Home page css start */
.home-page p{
  margin-top: 20px;
  margin-bottom: 0;
}
.home-page .drop-select{
  padding: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  outline: none;
}
/* Home page css End */

/* Task page css start */
.Task-page-wrap .container {
    padding: 2rem 0rem;
  }
  
  .Task-page-wrap h3 {
 
  }
  
  .task-page .table-image {
    
  }

  .task-page td, th {
    vertical-align: middle;
  }

/* Task page css End */

/* start user page css */
.user-page-wrap{
   
}

.user-page-wrap .form-group{

}
.user-page-wrap .form-group label{
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}
.user-page-wrap .form-group label span{
  margin-left: 10px;
  font-weight: 400;
}
.user-page-wrap .form-group input{
  outline: none;
  border: 1px solid #d7d7d7;
  padding: 0 10px;
  height: 38px;
  border-radius: 5px;
}
.user-page-wrap .btn-wrap{
  margin-top: 40px;
}
.user-page-wrap .btn-wrap button{
  border: 2px solid #d7d7d7;
  margin-right: 15px;
}
.user-page-wrap .btn-wrap button:hover{
  background-color: #d7d7d7;
}
/* user page css End */